<nav aria-label="Page navigation example " class="page-nav">
    <ul class="pagination">
      <li class="page-item"><a class="page-link pagebtn-prev" href="#" >Previous</a></li>
      <li class="page-item"><a class="page-link pagebtn-1" href="#" onclick="getPage(this)">1</a></li>
      <li class="page-item"><a class="page-link pagebtn-2" href="#" onclick="getPage(this)">2</a></li>
      <li class="page-item"><a class="page-link pagebtn-3" href="#" onclick="getPage(this)">3</a></li>
      <li class="page-item"><a class="page-link pagebtn-4" href="#" onclick="getPage(this)">4</a></li>
      <li class="page-item"><a class="page-link pagebtn-5" href="#" onclick="getPage(this)">5</a></li>
      <li class="page-item"><a class="page-link pagebtn-next" href="#">Next</a></li>
    </ul>
  </nav>