<nav class="navbar bg-body-tertiary top-nav">
  <div class="container-fluid nav-container">
    <div class ="left-nav">
    <a class="navbar-brand nav-logo" href="/">Movie Site</a>
    <div class="dropdown">
      <a class=" btn btn-secondary dropdown-toggle dropdown-title" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Category
      </a>
    
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/category/animation">Animation</a></li>
        <li><a class="dropdown-item" href="/category/action">Action</a></li>
        <li><a class="dropdown-item" href="/category/comedy">Comedy</a></li>
        <li><a class="dropdown-item" href="/category/documentary">Documentary</a></li>
        <li><a class="dropdown-item" href="/category/horror">Horror</a></li>
        <li><a class="dropdown-item" href="/category/science fiction">Science Fiction</a></li>
      </ul>
    </div>
    </div>
    <form class="d-flex" role="search" action="/search" method="GET">
      <input class="form-control me-2" type="search" placeholder="Search Movies" name="movieKeywords" aria-label="Search" required>
      <button class="btn btn-outline-success nav-btn" type="submit">Search</button>
    </form>
  </div>
</nav>