<%- include('./partials/header'); %>
<%- include('./partials/top_nav'); %>
<section class="movies-container" id="movie-section">
    <div class="card-container">
        <% if (typeof movieData!== 'undefined') { %>
            <% movieData.forEach(movie => { %>
             <%- include('./partials/card',{"imgLink":movie.imgLink,"imgTitle":movie.imgTitle}) %>
            <% }) %>
        <% } %>
    </div>
</section>
<%- include('./partials/footer'); %>