<%- include('./partials/header'); %>
<%- include('./partials/top_nav'); %>
<div class="movies-container">
    <div class="card-container">
        <div class="card" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUtBlUT0j3J796lVWi0f6d0kQosJBOh0J3Jg&s" class="card-img-top" alt="...">
            <a class="card-text" href="#">Avenger 2</a>
        </div>
        <div class="card" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUtBlUT0j3J796lVWi0f6d0kQosJBOh0J3Jg&s" class="card-img-top" alt="...">
            <a class="card-text" href="#">Avenger 2</a>
        </div>
        <div class="card" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUtBlUT0j3J796lVWi0f6d0kQosJBOh0J3Jg&s" class="card-img-top" alt="...">
            <a class="card-text" href="#">Avenger 2</a>
        </div>
        <div class="card" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUtBlUT0j3J796lVWi0f6d0kQosJBOh0J3Jg&s" class="card-img-top" alt="...">
            <a class="card-text" href="#">Avenger 2</a>
        </div>
        <div class="card" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUtBlUT0j3J796lVWi0f6d0kQosJBOh0J3Jg&s" class="card-img-top" alt="...">
            <a class="card-text" href="#">Avenger 2</a>
        </div>
        <div class="card" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUtBlUT0j3J796lVWi0f6d0kQosJBOh0J3Jg&s" class="card-img-top" alt="...">
            <a class="card-text" href="#">Avenger 2</a>
        </div>
    </div>
</div>


<%- include('./partials/footer'); %>