/* Common style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color:#131720;
}

/* Nav bar */
.top-nav {
    padding: 0;
}

.nav-container{
    padding: 10px;
    background-color:#131720;
}

.nav-container a {
    color: white;
}

.nav-container .nav-logo:hover {
    cursor: default;
    color: white;
}

.left-nav {
    display: flex;
    gap: 10px;
}

.dropdown-title,.dropdown-title:hover{
    border: none;
    background-color:#131720;
    height: 100%;
}

.dropdown{
    margin-top: 0.1rem;
}

.dropdown-menu a{
    color: black;
}

.dropdown-menu a:hover{
    color: black;
    cursor: pointer;
}

.nav-btn {
    border: none;
    background-color: blue;
    color: white;
}

.nav-btn:hover {
    background-color: darkblue;
    color: white;
}

/* card */
.card img {
    padding:  1rem 1rem 0.5rem;
    /* height: 20rem; */
    width: 18rem;
    object-fit: cover;
    border-radius: 2rem;
    transition: linear 0.1s;
}

.card img:hover{
    z-index: 1;
    transform: scale(1.2); 
}

.movies-container{
    margin: 1vh 1vh;
    height: 100vh;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 18rem));
    grid-gap: 2.5rem;
    justify-content: center;
    padding: initial;
    
}

.card {
    color: white;
    text-align: center;
    width: 18rem;
    background-color: #151f30;
    border-radius: 2rem;
}

.card-text {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    padding: 0.1rem 1.5rem 0.5rem;
    font-weight: bold;
}

.card-text:hover {
    color: rgb(104, 104, 235);
}

/* Page navigation */
.page-nav{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.page-nav a {
    background-color: #151f30;
    color: white;
    border-color: grey;
}

.current-page {
    background-color: darkgreen!important;
}

